<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/produto.css">
    <link rel="stylesheet" href="/static/geral.css">
    <title>Carrinho</title>
</head>
<body>
    <main>
        <section>
            <div class="cont-produto">
                <div class="logo"><img src="" alt=""></div>
                <div class="info"></div>
                <div class="preco"></div>
                <button><img src="/static/img/carro-removebg-preview.png" alt="carrinho"></button>
            </div>
        </section>
    </main>
</body>
</html>