<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/venda.css">
    <link rel="stylesheet" href="/static/geral.css">
    <title>Carrinho</title>
</head>
<body>
    <header>
      <p><a href="/">voltar</a></p>
    </header>
    <main>
        <section>
            <div class="login-box">
 
                <form action="#" method="POST">
                  <div class="user-box">
                    <input type="text" name="img" id="img" required="">
                    <label>Imagem do produto</label>
                  </div>
                  <div class="user-box">
                    <input type="text" name="nome" id="nome" required="">
                    <label>Nome do produto</label>
                  </div>
                  <div class="user-box">
                    <input type="text" name="preco" id="preco" required="">
                    <label>Preço</label>
                  </div>
                  <div class="user-box">
                    <input type="text" name="descricao" id="descricao" required="">
                    <label>Descrição do produto</label>
                  <div class="user-box">
                    <input type="text" name="categoria" id="categoria" required="">
                    <label>Categoria</label>
                  </div><center>
                  <button type="submit">
                         SEND
                     <span></span>
                  </button></center>
                </form>
              </div>
        </section>
    </main>
</body>
</html>