<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">

        imagem<br>
        <input type="url" name="img"><br>

        nome<br>
        <input type="text" name="nome"><br>

        preco<br>
        <input type="number" name="preco"><br>

        

        <button type="submit">Cadastrar</button>
        
        <div class="textos">
            <p>Já possui um login? <a href="/logar">Logar</a></p> 
            
        </div>
    </form>
</body>
</html>